/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

:root.theme-light {
  --img-bg-top: url(../images/cover-image-light.png);
  --clr-bg-main: #fff1f7;
  --clr-btn-main: rgba(53, 52, 48, 1);
  --clr-btn-hover: rgba(53, 52, 48, 0.4);
  --clr-accent-main: rgba(255, 141, 203, 1);
  --clr-accent-heading: rgba(255, 194, 230, 1);
  --clr-bg-text: rgba(255, 141, 203, 1);
  --clr-header-text: rgba(53, 52, 48, 1);
  --clr-section-heading: rgba(53, 52, 48, 1);
  --clr-bg-card: rgba(255, 141, 203, 1);
  --clr-card-text: rgba(53, 52, 48, 1);
  --clr-section-text: rgba(53, 52, 48, 1);
  --clr-theme-main: rgba(53, 52, 48, 1);
  --clr-border-main: rgba(53, 52, 48, 1);
  --clr-link-main: rgba(255, 141, 203, 1);
  --display-rec: none;
}

@media (prefers-color-scheme:light) {
  :root {
    --img-bg-top: url(../images/cover-image-light.png);
    --clr-bg-main: #fff1f7;
    --clr-btn-main: rgba(53, 52, 48, 1);
    --clr-btn-hover: rgba(53, 52, 48, 0.4);
    --clr-accent-main: rgba(255, 141, 203, 1);
    --clr-accent-heading: rgba(255, 194, 230, 1);
    --clr-bg-text: rgba(255, 141, 203, 1);
    --clr-header-text: rgba(53, 52, 48, 1);
    --clr-section-heading: rgba(53, 52, 48, 1);
    --clr-bg-card: rgba(255, 141, 203, 1);
    --clr-card-text: rgba(53, 52, 48, 1);
    --clr-section-text: rgba(53, 52, 48, 1);
    --clr-theme-main: rgba(53, 52, 48, 1);
    --clr-border-main: rgba(53, 52, 48, 1);
    --clr-link-main: rgba(255, 141, 203, 1);
    --display-rec: none;
  }
}
